* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    font-size: 34px;
    font-family: serif;
}

h2 {
    font-size: 30px;
    font-family: serif;;
}

h3 {
    font-size: 26px;
    font-family: serif;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

p{
    font-family: sans-serif;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.game {
    margin: auto auto 10px;
    width: 65%;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.button {
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 2%;
    margin: 0 0 2%;
}

.pit {
    width: 100px;
    height: 100px;
    margin: 1%;
    font-size: 40px;
    border-radius: 50%;
}

.alert {
    background-color: #f0f7fb;
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border-left: solid 4px #3498db;
    line-height: 18px;
    padding: 4px 22px;
    margin-bottom: 15px;
}

.player-a-text {
    color: red ;
}

.player-b-text {
    color: blue ;
}

.player-a-pit {
    border-width: 1px;
    border-color: red !important;
    border-style: dashed;
    color: red ;
}

.player-b-pit {
    border-width: 1px;
    border-color: #365fb7 !important;
    border-style: dashed;
    color: blue ;
}

.board-div {
    display: flex;
    justify-content: center;
}

.board-house-pit {
    height: 100%;
    font-size: 40px;
    width: 70px;
}

.message-banner{
    padding: 10px;
    text-align: center;
    margin: auto auto 10px;
    border: 5px ridge #ffffff;
    background: #6e6e6e;
    color: white;
}

.player-message-banner{
    padding: 10px;
    text-align: center;
    margin: auto auto 10px;
    border: 5px ridge #ffffff;
    background: #6e6e6e;
    color: white;
}

.player-pits-div {
    width: 685px
}

.border {
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    border: 8px solid;
    padding: 1rem;
    margin-bottom: 10px
}

.linear-repeating-A {
    border-width: 5px;
    padding: 10px;
    text-align: center;
    margin: auto auto 10px;
    border-image: repeating-linear-gradient(45deg, black, #ff647f 4%) 1;
}

.linear-repeating-B {
    padding: 10px;
    text-align: center;
    margin: auto auto 10px;
    border-width: 5px;
    border-image: repeating-linear-gradient(45deg, black, #3987ff 4%) 1;
}

.linear-repeating {
    border-width: 4px;
    border-image: repeating-linear-gradient(56deg, #e9e9e9, #ffffff 4%) 1
}

.full-withradius {
    position: relative;
    background: #fff;
    min-height: 200px;

    background-clip: padding-box;

    border: solid 8px transparent;
    border-radius: 0.8rem;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -8px;
        border-radius: inherit;
        background: linear-gradient(to left, turquoise, greenyellow);
    }
}